body {
    font-family: 'Times New Roman', Times, serif;
  }
  
  h1 {
    color: #007bff;
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select,
  input[type="date"],
  input[type="submit"] {
    display: block;
    margin: 0 auto 10px;
  }
  
  .chart {
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    color: #007bff;
  }
  